@layer base {
  :root {
    --plasmo-background: 0 0% 100%;
    --plasmo-foreground: 240 10% 3.9%;
    --plasmo-card: 0 0% 100%;
    --plasmo-card-foreground: 240 10% 3.9%;
    --plasmo-popover: 0 0% 100%;
    --plasmo-popover-foreground: 240 10% 3.9%;
    --plasmo-primary: 240 5.9% 10%;
    --plasmo-primary-foreground: 0 0% 98%;
    --plasmo-secondary: 240 4.8% 95.9%;
    --plasmo-secondary-foreground: 240 5.9% 10%;
    --plasmo-muted: 240 4.8% 95.9%;
    --plasmo-muted-foreground: 240 3.8% 46.1%;
    --plasmo-accent: 240 4.8% 95.9%;
    --plasmo-accent-foreground: 240 5.9% 10%;
    --plasmo-destructive: 0 84.2% 60.2%;
    --plasmo-destructive-foreground: 0 0% 98%;
    --plasmo-border: 240 5.9% 90%;
    --plasmo-input: 240 5.9% 90%;
    --plasmo-ring: 240 5.9% 10%;
    --plasmo-radius: 0.5rem;
    --plasmo-chart-1: 12 76% 61%;
    --plasmo-chart-2: 173 58% 39%;
    --plasmo-chart-3: 197 37% 24%;
    --plasmo-chart-4: 43 74% 66%;
    --plasmo-chart-5: 27 87% 67%;
  }

  .dark {
    --plasmo-background: 240 10% 3.9%;
    --plasmo-foreground: 0 0% 98%;
    --plasmo-card: 240 10% 3.9%;
    --plasmo-card-foreground: 0 0% 98%;
    --plasmo-popover: 240 10% 3.9%;
    --plasmo-popover-foreground: 0 0% 98%;
    --plasmo-primary: 0 0% 98%;
    --plasmo-primary-foreground: 240 5.9% 10%;
    --plasmo-secondary: 240 3.7% 15.9%;
    --plasmo-secondary-foreground: 0 0% 98%;
    --plasmo-muted: 240 3.7% 15.9%;
    --plasmo-muted-foreground: 240 5% 64.9%;
    --plasmo-accent: 240 3.7% 15.9%;
    --plasmo-accent-foreground: 0 0% 98%;
    --plasmo-destructive: 0 62.8% 30.6%;
    --plasmo-destructive-foreground: 0 0% 98%;
    --plasmo-border: 240 3.7% 15.9%;
    --plasmo-input: 240 3.7% 15.9%;
    --plasmo-ring: 240 4.9% 83.9%;
    --plasmo-chart-1: 220 70% 50%;
    --plasmo-chart-2: 160 60% 45%;
    --plasmo-chart-3: 30 80% 55%;
    --plasmo-chart-4: 280 65% 60%;
    --plasmo-chart-5: 340 75% 55%;
  }
}
